/* inizio comune */
body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
/* fine comune */

/* inizio header */
header {
    background-color: #2C3E50;
}

.nav-header li{
    list-style: none;
    display: inline-block;
}

.nav-header li a,
.text-header h6 {
    color: #ffffff;
}
/* fine header */

/* inizio hero */
.hero {
    background-color: #1abc9c;
    color: #ffffff;
}
/* fine hero */

/* inizio portfolio */
.box {
    border: 1px solid black;
}
/* fine portfolio */

/* inizio about */
.about {
    background-color: #1abc9c;
    color: #ffffff;
}

.btn:hover {
    background-color: turquoise;
}
/* fine about */

/* inizio contact */
.contact .btn {
    background-color: #1abc9c;
    color: #ffffff;
}


textarea, 
input {
    width: 95%;
    margin: auto;
}
/* fine contact */

/* inizio footer */
footer .superiore {
    background-color: #3a546d;
    color: #ffffff;
}

.superiore a {
    color: #1abc9c;
}

footer .inferiore {
    background-color: #2C3E50;
    color: #ffffff;
}
/* fine footer */